@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap");

:root {
  font-family: "Inter", sans-serif;

  color: #18204a;
  background: #f7f8ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --primary: #5b43e8;
  --primary-dark: #4732c7;
  --primary-light: #eeeaff;

  --navy: #172448;

  --text: #20264a;
  --muted: #7b819d;

  --border: #e7e9f2;

  --white: #ffffff;

  --green: #20b486;
  --orange: #f59e0b;

  --shadow:
    0 10px 30px rgba(43, 38, 104, 0.07);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background:
    radial-gradient(
      circle at top right,
      rgba(105, 76, 232, 0.08),
      transparent 35%
    ),
    #f7f8ff;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  color: var(--text);
}

p {
  color: var(--muted);
}

::selection {
  background: var(--primary);
  color: white;
}